<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
	</script>
	<script src="/scripts/home/index.js"></script>
	<title>Home</title>
</head>
<body>
	  
	<div class="ui container">
		<div class="ui success message">
			<div class="header">
				Relatório criado com sucesso!
			</div>
		</div>

		<div class="ui negative message">
			<div class="header">
			  Houve algum erro durante o processo.
			</div>
			<p class='negative__message'></p>
		</div>
		<form class="ui form pdf-form">
			<div class="field">
				<label>Usuário</label>
				<input type="text" name="user" placeholder="Usuário" required>
			</div>
			<div class="field">
				<label>Telefone</label>
				<input type="text" name="phone" placeholder="Telefone" required>
			</div>
			<div class="field">
				<label>Data de Nascimento</label>
				<input type="text" name="date" placeholder="Data de Nascimento" required>
			</div>
			<button class="ui button primary" type="submit">Enviar</button>
		</form>
	</div>
</body>
</html>